.datepicker {
  position: relative;
  max-width: 500px;
  width: 100%;
}

.dp_input {
  height: 100%;
}

.dp_input div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  color: #353434;
  background: #f8f8f8;
  border-bottom: 2px solid #dfdfdf;
  outline: none;
  padding: 2rem 1rem 0.5rem;
}

.dp_input div input {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 90%;
  height: 100%;
  background: inherit;
  font-size: 1rem;
  outline: none;
}

.dp_input div:hover {
  border-bottom: 2px solid #6a6a6c;
}

.dp_input span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1rem;
  color: #6a6a6c;
  pointer-events: none;
  padding: 2rem 1rem 0.5rem;
  transition: 0.3s;
}

.dp_input div ~ span.active {
  left: 0;
  color: #6a6a6c;
  transform: translate(0, -16px);
  font-size: 0.8rem;
  padding: 1.5rem 1rem 0.5rem;
  transition: 0.3s;
}

/* Datepicker */

.dpc_container {
  position: absolute;
  width: 100%;
  top: 100%;
  min-height: 350px;
  background: #f0f0f0;
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
  padding: 20px 25px;
  z-index: 10;
}

.dpc_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.dpc_button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.dpc_head {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: default;
}

.dpc_body {
  display: flex;
  width: 100%;
  height: 250px;
}

/* calender */
.c_container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.c_head {
  font-size: 0.75rem;
  font-weight: bold;
  cursor: default;
}

.c_day div.highlight,
.c_day div.active,
.c_day,
.c_day div:hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_day div:hover,
.c_day div.active,
.c_day div.highlight {
  height: 25px;
  width: 25px;
  color: #fff;
  border-radius: 50%;
}

.c_day {
  height: 100%;
  width: 100%;
  color: #494949;
}

.c_day.active {
  color: #c9c8c8;
}

.c_day div {
  cursor: pointer;
  font-size: 0.85rem;
}

.c_day div.active {
  background: #1a73e8;
}

.c_day div.highlight {
  background: #d94242;
}

.c_day div:hover {
  background: #bababa;
}
